---
layout: default
---
{% if quotes._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ quotes._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ quotes.title }}</h1>
    <p class="post-description">{{ quotes.description }}</p>
  </header>

  <article style="font-size: 50%;">
    {{ content }}
  </article>
</div>
